# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# EAS build credentials & logs
/credentials.json
/build-*.log
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*

# Native generated folders
/ios
/android

# Native build artifacts & keys
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.keystore

# macOS
.DS_Store
*.pem

# Local env files
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# Personal IDE settings
.vscode/

# SQLite databases (local tests)
*.db
*.sqlite
